{% extends "controlpanel.html" %}
{% load bootstrap %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title%}
            <h2 class="sub-header"> Consultar Solicitudes</h2>
{% endblock%}

{% if messages %}
          
                <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <ul class="messages">
                                {% for message in messages %}
                                       <center>
                                               <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                               {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                               {{ message }}
                                               </p>
                                       </center>
                                {% endfor %}
                        </ul>
                </div>
        
{% endif %}

{% block content%}

{% if group == 'CoordinadorSI' %}   
        
     <h3 class="text-info"> En Aprobacion  </h3> 
        <div class="row">
                <div class="col-xs-1"> </div>
                <div class="col-lg-12"> 
        	<table class="table  table-condensed table-bordered table-striped table-hover" width="900">
        		<tr>
        			<th class="text-center"> ID </th>
                			<th class="text-center">Plataforma </th>
         			<th class="text-center">Sistema Op </th>
         			<th class="text-center">Base de Datos </th>
         			<th class="text-center">Procesador </th>
         			<th class="text-center">Vel. Procesador </th>
                                                <th class="text-center">Nro. Procesadores </th>   
         			<th class="text-center">Memoria </th>
         			<th class="text-center">Almacenam. </th>
         			<th  class="text-center">Backup Img. </th>
                                                <th  class="text-center">Tiempo de uso </th>	
                		<th style="text-align: center; vertical-align: middle;" class="text-center">Estado </th>
            		</tr>
            		{% for item in aprob_arq %}
            		<tr> 
            			<td style="text-align: center; vertical-align: middle;" class="text-center">{{item.id}}</td>
                		<td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.plataforma }}</td>
                		<td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.sistemaoperativo }}</td>
                		<td style="text-align: center; vertical-align: middle;" class="text-center">{{item.basededatos}}</td>
                		<td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesador}}</td>
                		<td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesamiento}}</td>
                                                <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.numeroprocesadores}}</td>
                		<td style="text-align: center; vertical-align: middle;" class="text-center">{{item.memoria}}</td>
                		<td style="text-align: center; vertical-align: middle;" class="text-center">{{item.almacenamiento}}</td>
                		<td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.backupimagenes}}</td>
                                                    <td   style="text-align: center; vertical-align: middle;" class="text-center">{{item.tiempodeuso}}</td>
                		<td style="text-align: center; vertical-align: middle;" class="text-center">{{item.estado}}</td>
            		</tr>

                    
            		{% endfor %}
        	</table>
        	</div>
                <div class="col-xs-1"> </div>         
        </div>   

        <div class="col-xs-12" style="height:50px;"></div>

        <h3 class="text-info">Pendientes</h3>

        <div class="row">
                <div class="col-xs-1"> </div>
                <div class="col-lg-12"> 
            <table class="table  table-condensed table-bordered table-striped table-hover" width="900">
                <tr>
                    <th class="text-center"> ID </th>
                    <th class="text-center">Plataforma </th>
                    <th class="text-center">Sistema Op </th>
                    <th class="text-center">Base de Datos </th>
                    <th class="text-center">Procesador </th>
                    <th class="text-center">Vel. Procesador </th>
                                                     <th class="text-center">Nro. Procesadores </th>   
                    <th class="text-center">Memoria </th>
                    <th class="text-center">Almacenam. </th>
                    <th  class="text-center">Backup Img. </th>
                                                     <th  class="text-center">Tiempo de uso </th>   
                            <th style="text-align: center; vertical-align: middle;" class="text-center">Estado </th>
                    </tr>
                    {% for item in pendientes %}
                    <tr> 
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.id }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.plataforma }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.sistemaoperativo }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.basededatos}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesador}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.numeroprocesadores}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.memoria}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.almacenamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.backupimagenes}}</td>
                            <td   style="text-align: center; vertical-align: middle;" class="text-center">{{item.tiempodeuso}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.estado}}</td>
                    </tr>
                    {% endfor %}
            </table>
            </div>
                <div class="col-xs-1"> </div>         
        </div>

        <div class="col-xs-12" style="height:50px;"></div>

        <h3 class="text-info">Cancelados</h3>
        <div class="row">
                <div class="col-xs-1"> </div>
                <div class="col-lg-12"> 
            <table class="table  table-condensed table-bordered table-striped table-hover" width="900">
                <tr>
                    <th class="text-center"> ID </th>
                    <th class="text-center">Plataforma </th>
                    <th class="text-center">Sistema Op </th>
                    <th class="text-center">Base de Datos </th>
                    <th class="text-center">Procesador </th>
                    <th class="text-center">Vel. Procesador </th>
                                                     <th class="text-center">Nro. Procesadores </th>   
                    <th class="text-center">Memoria </th>
                    <th class="text-center">Almacenam. </th>
                    <th  class="text-center">Backup Img. </th>
                                                     <th  class="text-center">Tiempo de uso </th>   
                            <th style="text-align: center; vertical-align: middle;" class="text-center">Estado </th>
                    </tr>
                    {% for item in cancelados %}
                    <tr> 
                        <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.id}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.plataforma }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.sistemaoperativo }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.basededatos}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesador}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.numeroprocesadores}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.memoria}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.almacenamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.backupimagenes}}</td>
                            <td   style="text-align: center; vertical-align: middle;" class="text-center">{{item.tiempodeuso}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.estado}}</td>
                    </tr>
                    {% endfor %}
            </table>
            </div>
                <div class="col-xs-1"> </div>         
        </div>

{% elif group == 'ArqSoluciones' %}
      
        
     <h3 class="text-info"> Por Aprobar  </h3> 
        <div class="row">
                <div class="col-xs-1"> </div>
                <div class="col-lg-12"> 
            <table class="table  table-condensed table-bordered table-striped table-hover" width="900">
                <tr>
                    <th class="text-center"> ID </th>
                    <th class="text-center">Plataforma </th>
                    <th class="text-center">Sistema Op </th>
                    <th class="text-center">Base de Datos </th>
                    <th class="text-center">Procesador </th>
                    <th class="text-center">Vel. Procesador </th>
                    <th class="text-center">Nro. Procesadores </th>   
                    <th class="text-center">Memoria </th>
                    <th class="text-center">Almacenam. </th>
                    <th  class="text-center">Backup Img. </th>
                                                     <th  class="text-center">Tiempo de uso </th>   
                            <th style="text-align: center; vertical-align: middle;" class="text-center">Estado </th>
                    </tr>
                    {% for item in aprob_arq %}
                    <tr> 
                        <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.id}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.plataforma }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.sistemaoperativo }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.basededatos}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesador}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.numeroprocesadores}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.memoria}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.almacenamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.backupimagenes}}</td>
                            <td   style="text-align: center; vertical-align: middle;" class="text-center">{{item.tiempodeuso}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.estado}}</td>
                    </tr>
                    {% endfor %}
            </table>
            </div>
                <div class="col-xs-1"> </div>         
        </div>   

        <div class="col-xs-12" style="height:50px;"></div>

        <h3 class="text-info">Liberados</h3>

        <div class="row">
                <div class="col-xs-1"> </div>
                <div class="col-lg-12"> 
            <table class="table  table-condensed table-bordered table-striped table-hover" width="900">
                <tr>
                    <th class="text-center"> ID </th>
                    <th class="text-center">Plataforma </th>
                    <th class="text-center">Sistema Op </th>
                    <th class="text-center">Base de Datos </th>
                    <th class="text-center">Procesador </th>
                    <th class="text-center">Vel. Procesador </th>
                                                     <th class="text-center">Nro. Procesadores </th>   
                    <th class="text-center">Memoria </th>
                    <th class="text-center">Almacenam. </th>
                    <th  class="text-center">Backup Img. </th>
                                                     <th  class="text-center">Tiempo de uso </th>   
                            <th style="text-align: center; vertical-align: middle;" class="text-center">Estado </th>
                    </tr>
                    {% for item in liberados %}
                    <tr> 
                        <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.id}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.plataforma }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.sistemaoperativo }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.basededatos}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesador}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.numeroprocesadores}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.memoria}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.almacenamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.backupimagenes}}</td>
                            <td   style="text-align: center; vertical-align: middle;" class="text-center">{{item.tiempodeuso}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.estado}}</td>
                    </tr>
                    {% endfor %}
            </table>
            </div>
                <div class="col-xs-1"> </div>         
        </div>

{% elif group == 'JefeInfraestructura' %}      
        
     <h3 class="text-info"> Por Aprobar  </h3> 
        <div class="row">
                <div class="col-xs-1"> </div>
                <div class="col-lg-12"> 
            <table class="table  table-condensed table-bordered table-striped table-hover" width="900">
                <tr>
                    <th class="text-center"> ID </th>
                    <th class="text-center">Plataforma </th>
                    <th class="text-center">Sistema Op </th>
                    <th class="text-center">Base de Datos </th>
                    <th class="text-center">Procesador </th>
                    <th class="text-center">Vel. Procesador </th>
                    <th class="text-center">Nro. Procesadores </th>   
                    <th class="text-center">Memoria </th>
                    <th class="text-center">Almacenam. </th>
                    <th  class="text-center">Backup Img. </th>
                     <th  class="text-center">Tiempo de uso </th>   
                     <th style="text-align: center; vertical-align: middle;" class="text-center">Estado </th>
                    </tr>
                    {% for item in en_aprobacion %}
                    <tr> 
                        <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.id}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.plataforma }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.sistemaoperativo }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.basededatos}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesador}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.numeroprocesadores}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.memoria}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.almacenamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.backupimagenes}}</td>
                            <td   style="text-align: center; vertical-align: middle;" class="text-center">{{item.tiempodeuso}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.estado}}</td>
                    </tr>
                    {% endfor %}
            </table>
            </div>
                <div class="col-xs-1"> </div>         
        </div>   

        <div class="col-xs-12" style="height:50px;"></div>

        <h3 class="text-info">Liberados</h3>

        <div class="row">
                <div class="col-xs-1"> </div>
                <div class="col-lg-12"> 
            <table class="table  table-condensed table-bordered table-striped table-hover" width="900">
                <tr>
                        <th class="text-center"> ID </th>
                        <th class="text-center">Plataforma </th>
                        <th class="text-center">Sistema Op </th>
                        <th class="text-center">Base de Datos </th>
                        <th class="text-center">Procesador </th>
                        <th class="text-center">Vel. Procesador </th>
                        <th class="text-center">Nro. Procesadores </th>   
                        <th class="text-center">Memoria </th>
                        <th class="text-center">Almacenam. </th>
                        <th  class="text-center">Backup Img. </th>
                        <th  class="text-center">Tiempo de uso </th>   
                        <th style="text-align: center; vertical-align: middle;" class="text-center">Estado </th>
                    </tr>
                    {% for item in liberados %}
                    <tr> 
                        <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.id}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.plataforma }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.sistemaoperativo }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.basededatos}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesador}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.numeroprocesadores}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.memoria}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.almacenamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.backupimagenes}}</td>
                             <td   style="text-align: center; vertical-align: middle;" class="text-center">{{item.tiempodeuso}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.estado}}</td>
                    </tr>
                    {% endfor %}
            </table>
            </div>
                <div class="col-xs-1"> </div>         
        </div>

{% elif group == 'JefeTI' %}      
        
     <h3 class="text-info"> Por Aprobar  </h3> 
        <div class="row">
                <div class="col-xs-1"> </div>
                <div class="col-lg-12"> 
            <table class="table  table-condensed table-bordered table-striped table-hover" width="900">
                <tr>
                        <th class="text-center"> ID </th>
                        <th class="text-center">Plataforma </th>
                        <th class="text-center">Sistema Op </th>
                        <th class="text-center">Base de Datos </th>
                        <th class="text-center">Procesador </th>
                        <th class="text-center">Vel. Procesador </th>
                        <th class="text-center">Nro. Procesadores </th>   
                        <th class="text-center">Memoria </th>
                        <th class="text-center">Almacenam. </th>
                        <th  class="text-center">Backup Img. </th>
                         <th  class="text-center">Tiempo de uso </th>   
                         <th style="text-align: center; vertical-align: middle;" class="text-center">Estado </th>
                    </tr>
                    {% for item in en_valoracion %}
                    <tr> 
                        <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.id}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.plataforma }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.sistemaoperativo }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.basededatos}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesador}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesamiento}}</td>
                             <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.numeroprocesadores}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.memoria}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.almacenamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.backupimagenes}}</td>
                            <td   style="text-align: center; vertical-align: middle;" class="text-center">{{item.tiempodeuso}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.estado}}</td>
                    </tr>
                    {% endfor %}
            </table>
            </div>
                <div class="col-xs-1"> </div>         
        </div>   

        <div class="col-xs-12" style="height:50px;"></div>

        <h3 class="text-info">Liberados</h3>

        <div class="row">
                <div class="col-xs-1"> </div>
                <div class="col-lg-12"> 
            <table class="table  table-condensed table-bordered table-striped table-hover" width="900">
                <tr>
                        <th class="text-center"> ID </th>
                        <th class="text-center">Plataforma </th>
                        <th class="text-center">Sistema Op </th>
                        <th class="text-center">Base de Datos </th>
                        <th class="text-center">Procesador </th>
                        <th class="text-center">Vel. Procesador </th>
                        <th class="text-center">Nro. Procesadores </th>   
                        <th class="text-center">Memoria </th>
                        <th class="text-center">Almacenam. </th>
                        <th  class="text-center">Backup Img. </th>
                        <th  class="text-center">Tiempo de uso </th>   
                        <th style="text-align: center; vertical-align: middle;" class="text-center">Estado </th>
                    </tr>
                    {% for item in liberados %}
                    <tr> 
                        <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.id}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.plataforma }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.sistemaoperativo }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.basededatos}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesador}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesamiento}}</td>
                             <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.numeroprocesadores}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.memoria}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.almacenamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.backupimagenes}}</td>
                            <td   style="text-align: center; vertical-align: middle;" class="text-center">{{item.tiempodeuso}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.estado}}</td>
                    </tr>
                    {% endfor %}
            </table>
            </div>
                <div class="col-xs-1"> </div>         
        </div>

{% elif group == 'LiderInfraestructura' %}

<h3 class="text-info"> Para revisar  </h3> 
        <div class="row">
                <div class="col-xs-1"> </div>
                <div class="col-lg-12"> 
            <table class="table  table-condensed table-bordered table-striped table-hover" width="900">
                <tr>
                    <th class="text-center"> ID </th>
                    <th class="text-center">Plataforma </th>
                    <th class="text-center">Sistema Op </th>
                    <th class="text-center">Base de Datos </th>
                    <th class="text-center">Procesador </th>
                    <th class="text-center">Vel. Procesador </th>
                    <th class="text-center">Nro. Procesadores </th>   
                    <th class="text-center">Memoria </th>
                    <th class="text-center">Almacenam. </th>
                    <th  class="text-center">Backup Img. </th>
                    <th  class="text-center">Tiempo de uso </th>   
                    <th style="text-align: center; vertical-align: middle;" class="text-center">Estado </th>
                    </tr>
                    {% for item in aprobados %}
                    <tr> 
                        <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.id}}</td>
                            <td style="text-align: center; vertical-align: middle;"  class="text-center">{{ item.plataforma }}</td>
                            <td style="text-align: center; vertical-align: middle;"  class="text-center">{{ item.sistemaoperativo }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.basededatos}}</td>
                            <td  style="text-align: center; vertical-align: middle;"  class="text-center">{{item.procesador}}</td>
                            <td style="text-align: center; vertical-align: middle;"  class="text-center">{{item.procesamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;"  class="text-center">{{item.numeroprocesadores}}</td>
                            <td style="text-align: center; vertical-align: middle;"  class="text-center">{{item.memoria}}</td>
                            <td style="text-align: center; vertical-align: middle;"  class="text-center">{{item.almacenamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;"  class="text-center">{{item.backupimagenes}}</td>
                            <td  style="text-align: center; vertical-align: middle;"  class="text-center">{{item.tiempodeuso}}</td>
                            <td style="text-align: center; vertical-align: middle;"  class="text-center">{{item.estado}}</td>
                    </tr>
                    {% endfor %}
            </table>
            </div>
                <div class="col-xs-1"> </div>         
        </div>   

        <div class="col-xs-12" style="height:50px;"></div>

        <h3 class="text-info">Para Pago</h3>

        <div class="row">
                <div class="col-xs-1"> </div>
                <div class="col-lg-12"> 
            <table class="table  table-condensed table-bordered table-striped table-hover" width="900">
                <tr>
                    <th class="text-center"> ID </th>
                            <th class="text-center">Plataforma </th>
                    <th class="text-center">Sistema Op </th>
                    <th class="text-center">Base de Datos </th>
                    <th class="text-center">Procesador </th>
                    <th class="text-center">Vel. Procesador </th>
                                                     <th class="text-center">Nro. Procesadores </th>   
                    <th class="text-center">Memoria </th>
                    <th class="text-center">Almacenam. </th>
                    <th  class="text-center">Backup Img. </th>
                                                     <th  class="text-center">Tiempo de uso </th>   
                            <th style="text-align: center; vertical-align: middle;" class="text-center">Estado </th>
                    </tr>
                    {% for item in para_pago %}
                    <tr> 
                        <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.id}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.plataforma }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{ item.sistemaoperativo }}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.basededatos}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesador}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.procesamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.numeroprocesadores}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.memoria}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.almacenamiento}}</td>
                            <td  style="text-align: center; vertical-align: middle;" class="text-center">{{item.backupimagenes}}</td>
                            <td   style="text-align: center; vertical-align: middle;" class="text-center">{{item.tiempodeuso}}</td>
                            <td style="text-align: center; vertical-align: middle;" class="text-center">{{item.estado}}</td>
                    </tr>
                    {% endfor %}
            </table>
            </div>
                <div class="col-xs-1"> </div>         
        </div>



{% endif %}

{%endblock%}

{% block sidebar%}
    {% if group == 'CoordinadorSI' %}
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                    <li ><a href="/controlpanel">Control Panel <span class="sr-only">(current)</span></a></li>            
                    <li><a href="/registrosolicitud">Realizar Solicitud</a></li>
                    <li class="active" ><a href="/consultasolicitud">Consultar Solicitudes</a></li>
                    <li><a href="/eliminarsolicitud">Cancelar Solicitudes</a></li>
                    <li><a href="/nuevorecurso">Agregar recursos</a></li>
                    </ul>          
                </div>
    {% elif group == 'ArqSoluciones' %}
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                    <li ><a href="/controlpanel">Control Panel <span class="sr-only">(current)</span></a></li>            
                    <li><a href="/modificarsolicitud">Modificar Solicitud</a></li>
                    <li class="active" ><a href="/consultasolicitud">Consultar Solicitudes</a></li>
                    <li><a href="/registrousuario">Registrar Usuarios</a></li>
                    <li><a href="/revisarfactura">Revisar Facturas</a></li>
                    </ul>          
                </div>
    {% elif group == 'JefeInfraestructura' %}
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                    <li ><a href="/controlpanel">Control Panel <span class="sr-only">(current)</span></a></li>            
                    <li><a href="/modificarsolicitud">Modificar Solicitud</a></li>
                    <li class="active" ><a href="/consultasolicitud">Consultar Solicitudes</a></li>                    
                    <li><a href="/facturamensualestimada">Revisar Facturas</a></li>
                    </ul>          
                </div>
{% elif group == 'JefeTI' %}
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                    <li ><a href="/controlpanel">Control Panel <span class="sr-only">(current)</span></a></li>
                    <li class="active" ><a href="/consultasolicitud">Consultar Solicitudes</a></li>  
                    <li><a href="/facturamensualestimada">Revisar Facturas</a></li>
                    <li><a href="/modificarsolicitud">Modificar Solicitud</a></li>
                    </ul>          
                </div>
{% elif group == 'LiderInfraestructura' %}
    
    <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav nav-sidebar">
                <li><a href="/controlpanel">Control Panel <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/consultasolicitud">Consultar Solicitudes</a></li>
                <li><a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">Revisar Facturas</a>
                      <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                        <li><a href="/registronegociacion" style="margin-left:20px;" >Registrar datos negociacion</a></li>
                        <li><a href="/facturaenlineabase" style="margin-left:20px;">Factura en linea base</a></li>
                        <li><a href="/facturamensualreal" style="margin-left:20px;">Factura mensual real</a></li>
                      </ul>
                </li>                       
                <li><a href="/modificarsolicitud">Modificar Solicitud</a></li>                      
              </ul> 

    </div>
{% endif %}
{%endblock%}




