{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}
        <h1>Registarse en la aplicacion</h1>

        {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="/rango/">Return to the homepage.</a><br />
        {% else %}
      

        <form id="user_form" method="post" action="register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            <p>{{ user_form | crispy }}
            {{ profile_form | crispy }}</p>

            <!-- Provide a button to click to submit the form. -->
            <input  class="btn btn-default" type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
{%endblock%}
