<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/controlpanel">Control Panel <span class="sr-only">(current)</span></a></li>
            {% for group in user.groups.all %}
                {% if group.name == 'CoordinadorSI' %}
                        <li><a href="/registrosolicitud">Realizar Solicitud</a></li>
                        <li><a href="/consultasolicitud">Consultar Solicitudes</a></li>
                         <li><a href="/eliminarsolicitud">Eliminar Solicitudes</a></li>
                {% elif group.name == 'ArqSoluciones' %}
                        <li><a href="/modificarsolicitud">Modificar Solicitud</a></li>
                        <li><a href="/consultasolicitud">Consultar Solicitudes</a></li>
                        <li><a href="/registrousuario">Registrar Usuario</a></li>
                        <li><a href=#>Revisar Facturas</a></li>
                {%elif group.name == 'JefeInfraestructura'%}          
                        <li><a href="/modificarsolicitud">Modificar Solicitud</a></li>
                        <li><a href="/consultasolicitud">Consultar Solicitudes</a></li>
                        <li><a href="/registrousuario">Registrar Usuario</a></li>
                        <li><a href="/revisarfactura">Revisar Facturas</a></li>
                {%elif group.name == 'JefeTI'%}
                        <li><a href="/registrosolicitud">Modificar Solicitud</a></li>
                        <li><a href="/consultasolicitud">Consultar Solicitudes</a></li>
                        <li><a href="/registrousuario">Registrar Usuario</a></li>
                        <li><a href=#>Revisar Facturas</a></li>
                {%elif group.name == 'LiderInfraestructura'%}
                        <li><a href="/registrosolicitud">Modificar Solicitud</a></li>
                        <li><a href="/consultasolicitud">Consultar Solicitudes</a></li>
                        <li><a href="/registrousuario">Registrar Usuario</a></li>
                        <li><a href=#>Revisar Facturas</a></li>
                {% endif %}
            {% endfor %}         
            
          </ul>          
        </div> 